@font-face {
    font-family: myRoboto;
    src: url("Roboto-Black.copy.tff");
}

/* Try placing background-image in index.html file and resizing */
body {
    background-color: #ffe4c4ab;
    background-image: url("nathan-dumlao-pMW4jzELQCw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    

} 

form {
    display: flex;
    justify-content: flex-end;
}

legend {
    position: fixed;
    bottom: 50%;
    border: solid black 2px;
    width: 38em;
    height: 14em;
}
