@font-face {
    font-family: myRoboto;
    src: url("Roboto-Black.copy.tff");
}

body {
    background-color: rgba(255, 235, 205, 0.89);
    margin: 0 ;
} 

.container {
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: auto;
    height: 100vh;
    margin: 0 50px 0 50px;
    
}
/* Try placing background-image in index.html file and resizing */
.left {
    background-image: url("nathan-dumlao-pMW4jzELQCw-unsplash.jpg");
    background-size: cover;
    width: 100vw;
    height: auto;
    background-position: center;
    
} 

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.793);
    width: 100vw;
 
}



legend {
   border: 2px solid rgba(0, 0, 0, 0.051);
   box-shadow: 2px 2px 10px rgba(255, 235, 205, 0.923);
   background-color: rgba(245, 245, 245, 0.793);
   width: 50vw;
   height: 30vh;
   margin: 0 0 30px 0;
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    grid-gap: 10px;
    margin-left: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 20vh;

}

.input-field {
    background-color: rgba(255, 235, 205, 0.89);
    border-radius: 5px;
    border: none;
}

label {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}
 
#submit {
    background-color: rgba(255, 235, 205, 0.89);
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.175);
    width: 150px;
    height: 40px;
    font-size: 14px;
    box-shadow: 1px 1px 5px rgba(255, 235, 205, 0.923);
    margin-bottom: 10px;
    margin-left: 50px;
}

#submit:hover {
    outline: 1px solid brown;
    border: 1px solid brown;
    font-size: 13px;
}

.log-in {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 20vw;
   justify-content: space-evenly;
   margin-left: 50px;
}

a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    font-size: 14px;
}

input:focus {
    outline: 1px solid rgb(147, 213, 235);
    box-shadow: 1px 1px 2px black; 
}

h2 {
    color: brown;
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 30px;
}
.greet {
    width: 40vw;
}


